<h1>Beautiful#index</h1>
<p>Find me in app/views/beautiful/index.html.erb</p>
<p>Well maybe this should help a bit seeing as I'm not sure how this happened.</p>
<%= 1+1 %>
<p>Hello, earthlings, the time is: <%= Time.now %> </p>
<%= Time.now.strftime(
	"%H:%M:%S"
	)%>
<p> Hello you are running on rails: <%="mark.first"%> </p>